body {
    background-color: white; /* Adjust to desired background color */
    color: #343a40; /* Adjust text color for better readability */
}

.sidebar {
    background-color: #343a40;
    color: #fff;
    height: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 250px;
}

@media (max-width: 767px) {
    .sidebar {
        position: relative;
        width: 100%;
    }
    .content {
        margin-left: 0;
    }
}

.content {
    margin-left: 260px;
    padding: 20px;
    color: #343a40;
}

@media (max-width: 767px) {
    .content {
        margin-left: 0;
    }
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    color: #343a40;
}

@media (max-width: 767px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #343a40;
    margin-bottom: 20px;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.remove-button {
    margin-top: 10px;
}
